@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #3a3a3a; /* 배경색 설정 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gameboy-container1 {
  background: #d9d9d9;
  box-shadow:
    4px 4px 4px rgba(0, 0, 0, 0.25),
    inset -4px -4px 0px rgba(255, 255, 255, 0.15),
    inset 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 51px;
}

.gameboy-container2 {
  background: #727272;
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 42px;
}

.view-container {
  background-color: #bae6fd;
  border-radius: 30px;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.minimap-container {
  width: 202px;
  height: 248px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 13.5%,
      rgba(40, 40, 40, 0.4) 100%
    ),
    #a4ae9f;
  border: 5px solid #303030;
  box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.4);
  border-radius: 28px;
}

#cross-container {
  position: absolute;
  width: 104.6px;
  height: 104.6px;
  left: 360px;
  top: 631px;

  background: linear-gradient(180deg, #c0c0c0 0%, #fbfbfb 100%);
  box-shadow:
    0px 3px 6px rgba(0, 0, 0, 0.45),
    inset 2px 0px 3px #656565,
    inset 0px 2.5px 3px #b8b8b8,
    inset 0px -2px 3px #737373,
    inset 0px 1px 7px #a9a9a9;
  border-radius: 4px;
}

.cross {
  position: relative;
  background-color: #ddd;
  border-radius: 20px; /* 모서리 둥글게 */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
}
