/* Cooling-Fan */
.cooling-fan {
    position: absolute;
    left: 90.41%;
    top: 86.66%;
    bottom: 4.32%;

    transform: rotate(-27.27deg);
    filter: drop-shadow(0px 1px 0.5px rgba(255, 255, 255, 0.05));
}

/* Rectangle 134 */
.rect {
    background: #6C6C6C;
    box-shadow: inset -1px 2px 0px rgba(0, 0, 0, 0.25);
}