/* Copyright */

.copyright {
    position: absolute;
    left: 7.98%;
    right: 44.54%;
    top: 92.48%;
    bottom: 5.06%;
}


/* moontchling naviadev kimbreaker */
.name {
    position: absolute;
    left: 23.08%;
    right: 44.54%;
    top: 92.94%;
    bottom: 5.37%;

    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.5);
}


/* Copyright-Logo */
.logo-total {
    position: absolute;
    left: 7.98%;
    right: 78.25%;
    top: 92.48%;
    bottom: 5.06%;
}


/* Group 23 */
.group_23 {
    position: absolute;
    left: 9.88%;
    right: 78.25%;
    top: 92.79%;
    bottom: 5.06%;
}


/* Group 22 */
.group_22 {
    position: absolute;
    left: 9.88%;
    right: 78.25%;
    top: 92.79%;
    bottom: 5.06%;
}


/* copyright */
.copyright-logo {
    position: absolute;
    left: 9.88%;
    right: 78.25%;
    top: 92.79%;
    bottom: 5.06%;

    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 13.7778px;
    line-height: 14px;
    /* identical to box height */

    color: #F9E05F;
}


/* ⓒ */
.c {
    position: absolute;
    left: -20%;
    top: 92.48%;
    bottom: 5.21%;

    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 15.1556px;
    line-height: 15px;

    color: #F9E05F;
}